<div class="panel panel-default">
  <div class="panel-heading">Los animalitos que tienes publicados
  </div>
  <div class="panel-body">
  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th><p>Título</p></th>
				<th><p>Descripción</p></th>
				<th><p>Acciones</p></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<% @user.posts.each do |post| %>
		<tbody>
			<tr>
				<th><%= post.title %></th>
					<td><%= post.description %></td>
					<td><%= link_to "Editar", edit_post_path(post) %></td>
					<td><%= link_to "Ver", post_path(post) %></td>
					<td><%= link_to "Borrar", post, method: :delete, data: {confirm: "¿Seguro?"} %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>