.panel.panel-default
  .panel-heading Descripción
  .panel-body
    %h3
      = @post.title
    %p
      %strong ¿Qué animalito es?
      = @post.animal_type
    %p
      %strong Raza:
      = @post.breed
    %p
      %strong Edad:
      = @post.age
    %p
      %strong ¿Dónde?
      = @post.location
    %p= @post.description