<h1>En Adopción</h1>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8"><% @adopcion.each do |e| %>
		<% if e.status == 'Activo' %>
		<div class="thumbnail">
			<h3><%= e.title %></h3>
          	<%= link_to image_tag(e.image_url.to_s), post_path(e), class: "img-responsive img-thumbnail" %>
          	<div class="caption">
          		<p><%= truncate e.description, length: 140 %></p>
          		<%= link_to 'Ver', e, class: "btn btn-default" %>
          	</div>
          </div>
          <% end %>
          <% end %>
      </div>
  <div class="col-xs-6 col-md-4"></div>
</div>
<%= paginate @adopcion, :theme => 'twitter-bootstrap-3' %>