%h1 Editing post
.container
  .panel.panel-default.col-md-8
    .panel-body
      = simple_form_for @post, :defaults => {:required => false}, :html => {:multipart => true} do |f|
        = f.input :title, label: 'Titulo'
        .btn-group
          = f.input :state, as: :radio_buttons, collection: [["Encontrado", "found"], ["Perdido", "lost"], |
            ["En Adopci칩n", "adoption"]]                                                                   |
        = f.input :location, label: 'Ubicaci칩n'
        = f.label 'Imagen'
        = f.file_field :image, class: 'btn btn-default'
        = f.input :contact, label: 'Contacto'
        .btn-group
          = f.input :animal_type, label: "Tipo de mascota", as: :radio_buttons, collection: [["Perrito", "dog"], ["Gatito", "cat"]]
        = f.input :breed, label: 'Raza'
        = f.input :age, label: 'Edad aproximada'
        = f.input :description, label: 'Descripci칩n'
        = f.input :status, collection: ['active', 'closed']
        = f.button :submit , :value => "Publicar"
= link_to 'Mostrar', @post
|
\#{link_to 'Atr치s', posts_path}