<h1>Editing post</h1>

<div class="container">



  <%= simple_form_for @post, :html => {:multipart => true} do |f| %>
  <%= f.input :status, collection: ['Activo', 'Cerrado'] %>
    <%= f.button :submit %>
  <% end %>


<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>




