<h1>Editing post</h1>
<div class="container">
	<div class="panel panel-default col-md-8">
		<div class="panel-body">

			<%= simple_form_for @post, :defaults => {:required => false}, :html => {:multipart => true} do |f| %>
			<%= f.input :title, label: 'Titulo' %>
			<div class="btn-group">
				<%= f.input :tipo, as: :radio_buttons, collection: [["Encontrado", "encontrado"], ["Perdido", "perdido"],
				["En Adopci칩n", "adopcion"]] %>
			</div>

			<%= f.input :location, label: 'Ubicaci칩n' %>
  			<%= f.label 'Imagen' %>
  			<%= f.file_field :image, class: 'btn btn-default' %>
  			<%= f.input :contact, label: 'Contacto' %>
  			<div class="btn-group">
  				<%= f.input :animal_type, label: "Tipo de mascota", as: :radio_buttons, collection: [["Perrito", "perro"], ["Gatito", "gato"]] %>
  			</div>
  			<%= f.input :breed, label: 'Raza' %>
			<%= f.input :age, label: 'Edad aproximada' %>
			<%= f.input :description, label: 'Descripci칩n' %>
			<%= f.button :submit , :value => "Publicar" %>
			<% end %>
		</div>
	</div>
</div>


<%= link_to 'Mostrar', @post %> |
<%= link_to 'Atr치s', posts_path %>




