<div class="row">
  <div class="col-md-12">
   <h1>¡Nos gustan los animales!</h1>
   <p class="lead">¿Perdiste tu mascota?, ¿Encontraste la mascota de alguien?, ¿Quieres dar un animalito en adopción?, ¿Quieres adoptar y darle amor a alguien que te va a querer siempre? ¡Este es tu lugar!</p>
   <button type="button" class="btn btn-default"><%= link_to 'Publicar', new_post_path %></button>
   <hr>
 </div>
</div>



<div class="row">
  <div class="col-md-4">
    <h2>Encontrados</h2>

    <% @posts.each do |post| %>
      <% if post.tipo == 'encontrado' %>
        <div class="thumbnail">
          <h3><%= post.title %></h3>
        <!-- <img src="img/dogs.jpg" alt=""> -->
          <div class="caption">
          <p><%= post.description %></p>
          <button type="button" class="btn btn-default"><%= link_to 'Ver', post %></button>
          </div>
       </div>
      <% end %>

    <% end %>
  </div>
  
  <div class="col-md-4">
    <h2>Perdidos</h2>

  <% @posts.each do |post| %>
  <% if post.tipo == 'perdido' %>
    <div class="thumbnail">
      <h3><%= post.title %></h3>
      <!-- <img src="img/dogs.jpg" alt=""> -->
      <div class="caption">
        <p><%= post.description %></p>
        <button type="button" class="btn btn-default"><%= link_to 'Ver', post %></button>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="col-md-4">  
 <h2>En adopción</h2>

    <% @posts.each do |post| %>
    <% if post.tipo == 'adopcion' %>
      <div class="thumbnail">
        <h3><%= post.title %></h3>
        <!-- <img src="img/dogs.jpg" alt=""> -->
        <div class="caption">
          <p><%= post.description %></p>
          <button type="button" class="btn btn-default"><%= link_to 'Ver', post %></button>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>


</div>








  






