<div class="jumbotron">
  <div class="row">
    <div class="intro">
      <div class="col-md-12">
        <h1>¡Nos gustan los animales!</h1>
        <p class="lead">¿Perdiste tu mascota? ¿Encontraste la mascota de alguien? ¿Quieres dar un animalito en adopción o quieres adoptar?</p>
        <p class="lead"> ¡Este es tu lugar!</p>
        <%= link_to "Publicar", new_post_path, class: "btn btn-primary btn-lg" %><hr>
      </div>
    </div>
  </div>
</div>




<div class="row ficha">
  <div class="col-sm-6 col-md-4">
    <h2>Encontrados</h2>

    <% @posts.each do |post| %>
      <% if post.tipo == 'encontrado' and post.status == 'Activo' %>
        <div class="thumbnail">
          <h3><%= post.title %></h3>
          <%= link_to image_tag(post.image_url.to_s), post_path(post) %>
          <div class="caption">
          <p><%= post.description %></p>
          <%= link_to 'Ver', post, class: "btn btn-default" %>
          </div>
       </div>
      <% end %>

    <% end %>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <h2>Perdidos</h2>

  <% @posts.each do |post| %>
  <% if post.tipo == 'perdido' and post.status == 'Activo' %>
    <div class="thumbnail">
      <h3><%= post.title %></h3>
      <%= link_to image_tag(post.image_url.to_s), post_path(post) %>
      <div class="caption">
        <p><%= post.description %></p>
        <%= link_to 'Ver', post, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-4">  
 <h2>En adopción</h2>

    <% @posts.each do |post| %>
    <% if post.tipo == 'adopcion' and post.status == 'Activo' %>
      <div class="thumbnail">
        <h3><%= post.title %></h3>
        <%= link_to image_tag(post.image_url.to_s), post_path(post) %>
        <div class="caption">
          <p><%= post.description %></p>
          <%= link_to 'Ver', post, class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>


</div>








  






