<div class="container">
<h1>Publicaciones</h1>


<%= link_to 'Publicar', new_post_path %>

<h1>Encontrados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripci贸n</th>
    </tr>
  </thead>
<tbody>
  <% @posts.each do |post| %>
  <% if post.tipo == 'encontrado' %>
  <tr>
    <td><%= post.title %></p></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Ver', post %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>



<h1>Perdidos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripci贸n</th>
    </tr>
  </thead>
<tbody>
  <% @posts.each do |post| %>
  <% if post.tipo == 'perdido' %>
  <tr>
    <td><%= post.title %></p></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Ver', post %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>

<h1>En adopci贸n</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripci贸n</th>
    </tr>
  </thead>
<tbody>
  <% @posts.each do |post| %>
  <% if post.tipo == 'adopcion' %>
  <tr>
    <td><%= post.title %></p></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Ver', post %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>


<br>




</div>
