
<div class="row">
  <div class="intro">
  <div class="col-md-12">
   <h1>¡Nos gustan los animales!</h1>
   <p class="lead">¿Perdiste tu mascota? ¿Encontraste la mascota de alguien? ¿Quieres dar un animalito en adopción?, ¿Quieres adoptar y darle amor a alguien que te va a querer siempre? ¡Este es tu lugar!</p>
   <%= link_to "Publicar", new_post_path, class: "btn btn-primary" %>
   <hr>
 </div>
</div>
</div>




<div class="row ficha">
  <div class="col-sm-6 col-md-4">
    <h2>Encontrados</h2>

    <% @posts.each do |post| %>
      <% if post.tipo == 'encontrado' and post.status == 'Activo' %>
        <div class="thumbnail">
          <h3><%= post.title %></h3>
          <%= image_tag post.image_url.to_s%>
          <div class="caption">
          <p><%= post.description %></p>
          <%= link_to 'Ver', post, class: "btn btn-default" %>
          </div>
       </div>
      <% end %>

    <% end %>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <h2>Perdidos</h2>

  <% @posts.each do |post| %>
  <% if post.tipo == 'perdido' and post.status == 'Activo' %>
    <div class="thumbnail">
      <h3><%= post.title %></h3>
      <%= image_tag post.image_url.to_s %>
      <div class="caption">
        <p><%= post.description %></p>
        <%= link_to 'Ver', post, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-4">  
 <h2>En adopción</h2>

    <% @posts.each do |post| %>
    <% if post.tipo == 'adopcion' and post.status == 'Activo' %>
      <div class="thumbnail">
        <h3><%= post.title %></h3>
        <%= image_tag post.image_url.to_s %>
        <div class="caption">
          <p><%= post.description %></p>
          <%= link_to 'Ver', post, class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>


</div>








  






