<h1>Nueva publicación</h1>

<div class="container">

<%= simple_form_for @post do |f| %>
<%= f.input :title %>
<%= f.input :tipo, collection: ["encontrado", "perdido", "adopcion"]  %>
<%= f.input :description %>
<%= f.button :submit %>
<% end %>


<%= link_to 'Back', posts_path %>

</div>
