<div class="wrap">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @post.tipo %>
</p>


<p>
  <strong>Descripcion:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag @post.image.url.to_s %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: "Seguro?"} %>

</div>