<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      <%= link_to "Publicar", new_post_path, class: 'btn btn-primary' %>
      </div>
      <a href="https://twitter.com/peteretescom"><img src="<%= asset_path 'social-32-twitter.png' %>" alt="twitter"></a>
      <a href="https://www.facebook.com/peteretespeteretes"><img src="<%= asset_path 'social-31-facebook.png' %>" alt="facebook"></a>
      <span class="social social-facebook"></span>
      <div class="col-md-8">
        <ul>
          <li><%= link_to "El Proyecto", page_path('about') %></li> -
          <li><%= link_to "Colabora", page_path('collaborates') %></li> -
          <li><%= link_to "Contacto", page_path('contact') %></li>
<!--           <li><%= link_to "Manifiesto", page_path('manifesto') %></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58250503-1', 'auto');
ga('send', 'pageview');
</script>






